<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品管理</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <%- include("./component/header") %>
    <div class="container-fluid goods_operation">
        <div class="row">
            <div class="col-sm-3">
                <ul class="nav nav-pills nav-stacked" role="tablist">
                    <li class="title"><span>用户管理</span></li>
                    <li role="presentation"><a href="#user_list" aria-controls="home" role="tab" data-toggle="tab">用户列表</a></li>
                    <li role="presentation"><a href="#add_user" aria-controls="profile" role="tab" data-toggle="tab">增加用户</a></li>
                    <li class="title"><span>商品管理</span></li>
                    <li role="presentation" class="active"><a href="#goods_list" aria-controls="home" role="tab" data-toggle="tab">商品列表</a></li>
                    <li role="presentation"><a href="#add_goods" aria-controls="profile" role="tab" data-toggle="tab">增加商品</a></li>
                    <li class="title"><span>分类管理</span></li>
                    <li role="presentation"><a href="#goods_type_list" aria-controls="settings" role="tab" data-toggle="tab">商品分类列表</a></li>
                    <li role="presentation"><a href="#add_goods_type" aria-controls="settings" role="tab" data-toggle="tab">增加商品分类</a></li>
                </ul>
            </div>
            <div class="col-sm-9">
                <div class="info">
                    <!-- 路径导航 -->
                    <ol class="breadcrumb">
                        <li><a href="javascript:void(0);">商品管理</a></li>
                        <li class="url" class="active"><a href="javascript:void(0);">商品列表</a></li>
                    </ol>
                    
                    <!-- 信息 -->
                    <div class="tab-content">
                          <div role="tabpanel" class="tab-pane" id="user_list">
                            <div class="alert alert-warning alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>警告!</strong> 请谨慎操作&emsp;&emsp;注:非管理员不能删除，非登录用户本身不能修改！
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">搜索</div>
                                <div class="panel-body">
                                    <form action="/admin/finduser" method="GET" class="form-inline">
                                        <div class="form-group">
                                            <label for="userName">名称</label>
                                            <input type="text" id="userName" name="userName" placeholder="请输入名称" class="form-control">
                                        </div>
                                        <input type="submit" class="btn" value="开始搜索">
                                    </form>
                                </div>
                            </div>
                            <!-- 用户列表 -->
                            <table class="table table-striped  goodsListTab">
                                <thead>
                                    <tr>
                                        <th>编号</th>
                                        <th>用户名</th>
                                        <th>密码</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(let i=0; i<userInfo.length; i++){ %>
                                    <tr>
                                        <td><%= i+1 %></td>
                                        <td><%= userInfo[i].username %></td>
                                        <td><%= userInfo[i].password %></td>
                                        <td>
                                            <a href="/admin/updateUser?id=<%= userInfo[i]._id %>" class="btn btn-primary" class="update">修改</a>
                                            <a href="javascript:void(0);" class="btn btn-danger delGoods" data-toggle="modal" data-target="#myModaluser" data-goodsId="<%= userInfo[i]._id%>">删除</a>
                                        </td>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                            <div class="paging">
                                <ul class="pagination">
                                    <li class="disabled"><a href="#">共有<span><%= total %></span>条数据</a></li>
                                    <li><a href="/admin/searchIndex?page=1">首页</a></li>
                                    <li class="<%= page==1?'disabled':'' %>"><a href="/admin/searchIndex?page=<%=page-1%>">上一页</a></li>
                                    <% for(let i=1; i<=totalPage; i++){ %>
                                    <li class="<%= page==i?'active':'' %>"><a href="/admin/searchIndex?page=<%=i%>"><%= i %></a></li>
                                    <% } %>
                                    <li class="<%= page==totalPage?'disabled':'' %>"><a href="/admin/searchIndex?page=<%=page>=totalPage?totalPage:page+1%>">下一页</a></li>
                                    <li><a href="/admin/searchIndex?page=<%=totalPage%>">尾页</a></li>
                                  </ul>
                            </div>
                          </div>
                          <!-- 增加用户 -->
                          <div role="tabpanel" class="tab-pane" id="add_user">
                            <div class="panel panel-default">
                                <div class="panel-heading">增加用户</div>
                                <div class="panel-body">
                                    <form action="/admin/addUser" method="POST" class="form-inline">
                                        <div class="input-group">
                                            <label for="addUserName">用户名称:</label>
                                            <input type="text" id="addUserName" name="username" required><br>
                                            <label for="addUserPwd">用户密码:</label>
                                            <input type="text" id="addUserPwd" name="password" required><br>
                                        </div><br>
                                        <div class="input-group">
                                            <input type="submit" class="btn" value="提交">
                                        </div>
                                    </form>
                                </div>
                            </div>
                          </div>
                          <!-- 商品列表 -->
                          <div role="tabpanel" class="tab-pane active" id="goods_list">
                            <div class="panel panel-default">
                                <div class="panel-heading">搜索</div>
                                <div class="panel-body">
                                    <form action="/admin/searchIndex" method="GET" class="form-inline">
                                        <div class="form-group">
                                            <label for="goodsName">名称</label>
                                            <input type="text" id="goodsName" name="goodsName" placeholder="请输入名称" class="form-control" value="<%= searchStr?searchStr:'' %>">
                                        </div>
                                        <input type="submit" class="btn" value="开始搜索">
                                    </form>
                                </div>
                            </div>
                            <table class="table table-striped  goodsListTab">
                                <thead>
                                    <tr>
                                        <th>编号</th>
                                        <th>图标</th>
                                        <th>名称</th>
                                        <th>价格</th>
                                        <th>邮费</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(let i=0; i<goods.length; i++){ %>
                                    <tr>
                                        <td><%= i>10?'0'+(i+1):'00'+(i+1) %></td>
                                        <td><%= goods[i].img %></td>
                                        <td><%= goods[i].name %></td>
                                        <td><%= goods[i].price %>元</td>
                                        <td><%= goods[i].postage %>元</td>
                                        <td>
                                            <a href="/admin/updateGoods?id=<%= goods[i]._id %>" class="btn btn-primary" class="update">修改</a>
                                            <a href="javascript:void(0);" class="btn btn-danger delGoods" data-toggle="modal" data-target="#myModal" data-goodsId="<%= goods[i]._id%>">删除</a>
                                        </td>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                            <div class="paging">
                                <ul class="pagination">
                                    <li class="disabled"><a href="#">共有<span><%= total %></span>条数据</a></li>
                                    <li><a href="/admin/searchIndex?page=1">首页</a></li>
                                    <li class="<%= page==1?'disabled':'' %>"><a href="/admin/searchIndex?page=<%=page-1%>">上一页</a></li>
                                    <% for(let i=1; i<=totalPage; i++){ %>
                                    <li class="<%= page==i?'active':'' %>"><a href="/admin/searchIndex?page=<%=i%>"><%= i %></a></li>
                                    <% } %>
                                    <li class="<%= page==totalPage?'disabled':'' %>"><a href="/admin/searchIndex?page=<%=page>=totalPage?totalPage:page+1%>">下一页</a></li>
                                    <li><a href="/admin/searchIndex?page=<%=totalPage%>">尾页</a></li>
                                  </ul>
                            </div>
                          </div>
                          <div role="tabpanel" class="tab-pane" id="add_goods">
                            <div class="panel panel-default">
                                <div class="panel-heading">增加商品</div>
                                <div class="panel-body">
                                    <form action="/admin/addGoods" method="POST" class="form-inline">
                                        <div class="input-group">
                                            <ul>
                                                <li>
                                                    <label for="addGoodsName">商品名称:</label>
                                                    <input type="text" id="addGoodsName" name="name" required>
                                                </li>
                                                <li>
                                                    <label for="cate_id">商品类别:</label>
                                                    <select name="cate_id" id="cate_id">
                                                        <option value="1">服装</option>
                                                        <option value="2">家电</option>
                                                        <option value="3">食品</option>
                                                        <option value="4">学习用品</option>
                                                    </select>
                                                </li>
                                                <li>
                                                    <label for="addGoodsImg">商品图片:</label>
                                                    <input type="file" id="addGoodsImg" name="img" style="display: inline-block;">
                                                </li>
                                                <li>
                                                    <img src="" alt="" style="width: 100px; margin-left: 65px;" id="thumb">
                                                </li>
                                                <li>
                                                    <label for="addGoodsPrice">商品价格:</label>
                                                    <input type="text" id="addGoodsPrice" name="price" required>
                                                </li>
                                                <li>
                                                    <label for="addGoodsPostage">商品邮费:</label>
                                                    <input type="text" id="addGoodsPostage" name="postage">
                                                </li>
                                                <li>
                                                    <label for="addGoodsDescribe">商品描述:</label>
                                                    <textarea name="describe" id="addGoodsDescribe" style="width: 430px;height: 110px; resize: none;"></textarea>
                                                </li>
                                                <li>
                                                    <div class="input-group">
                                                        <input type="submit" class="btn" value="提交">
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </form>
                                </div>
                            </div>
                          </div>

                          <!-- 模态框警告信息的弹出 -->
                          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <form action="/admin/deleteGoods" method="GET">
                                      <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">提示</h4>
                                      </div>
                                      <div class="modal-body">
                                        您确定要删除吗？
                                        <input type="hidden" class="delTemp" name="id">
                                      </div>
                                      <div class="modal-footer">
                                          <button type="submit" class="btn btn-default">确定</button>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                                      </div>
                                    </form>
                                </div>
                            </div>
                          </div>
                          <!-- 模态框警告信息的弹出 用户-->
                          <div class="modal fade" id="myModaluser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <form action="/admin/deleteUser" method="GET">
                                      <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">提示</h4>
                                      </div>
                                      <div class="modal-body">
                                        您确定要删除吗？
                                        <input type="hidden" class="delTemp" name="userId"">
                                      </div>
                                      <div class="modal-footer">
                                          <button type="submit" class="btn btn-default">确定</button>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                                      </div>
                                    </form>
                                </div>
                            </div>
                          </div>

                          <div role="tabpanel" class="tab-pane" id="goods_type_list">3</div>
                          <div role="tabpanel" class="tab-pane" id="add_goods_type">4</div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <script src="/js/jquery-3.4.1.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/index.js"></script>
    <script src="/ckeditor5/ckeditor.js"></script>
    <script>
        ClassicEditor.create(document.querySelector("#addGoodsDescribe"))//addGoodsDescribe多行文本上的id名

        // js实现图片上传预览
        let file = document.querySelector("input[type=file]");
        let thumb = document.querySelector("#thumb");
        // 监听文件内容改变
        file.onchange = function(){
            // 创建一个文件读取对象
            let reader = new FileReader();
            console.dir(this);
            // 读取文件
            reader.readAsDataURL(this.files[0]);
            reader.onload = function(){
                // 以Base64的方式输出
                thumb.src = reader.result;
            }
        }
    </script>
</body>
</html>